body {
    padding:0;
    margin:0;
    overflow:hidden;
	height: 600px;
}
canvas {
    padding:0;
    margin:0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
	width : 100%;
}
.bg {
  display : table;
  top : 200px;
  background: #00fdff url(../assets/Images/bg1.jpg) ;
  width: 100%;
  height: 350px;
  position: relative;
  background-size: cover;
  background-position: 0 0;
  background-repeat: repeat-y;
  -webkit-animation: mymove 10s linear infinite;
  animation: animate 15s linear infinite;
}
@keyframes animate {
	from {
	background-position: 0 100%;
	}
	to {
	background-position: 0 0;
	}
	}
@-webkit-keyframes animate {
	from {
	background-position: 0 100%;
	}
	to {
	background-position: 0 0;
	}
	}
.btnbg .firstline {
  position: absolute;
  display : table-cell;
  vertical-align:middle;
  max-width:none;
  width:100%; 
  text-align : center;
  color: white; 
  font-size: 4.0em;
  font-weight: 900;  
  font-family : Arial ;
  padding-right : 10px;
  padding-left : 10px;
  background-color : black;
}
.btnbg .secondline { 
  position: absolute;
  top : 45px;
  display : table-cell;
  vertical-align:middle;
  max-width:none;
  width:100%;
  text-align : center;
  color: white; 
  font-size: 3.0em;
  font-weight: 900;  
  font-family : Arial;
  padding-right : 10px;
  padding-left : 10px;
  background-color : black;
  }
.btnbg .thirdline {
  position: absolute;
  top : 80px;
  display : table-cell;
  vertical-align:middle;
  max-width:none;
  width:100%;
  text-align : center;
  color: white; 
  font-size: 3.0em;
  font-weight: 900;  
  font-family : Arial;
  padding-right : 10px;
  padding-left : 10px;
  background-color : black;
}
.horizontal {
	  position: absolute;
	  width : 100%;
	  text-align : center;
	  top : 90px;
          max-width:none;
	  min-width : 500px;
	  transform : translateY(-50%,-50%);
      }
.btn {
	color : black ;
	display : inline-block ;
	width : 70px;
	height : 70px;
	background : #D7CFCD;
	margin : 25px ;
	border-radius : 25%;
	overflow : hidden;
	position : relative;
	box-shadow : 0 20px 50px rgba(0,0,0,.3);
}
.btn i {
	line-height: 60px;
	font-size: 30px;
	transition : 0.5s linear;
}
.btn:hover i {
	transform : scale(1.30);
	color : #122F76;
}

.btn::before {
	content:"";
	position:absolute;
	width : 125%;
	height: 122%;
	background : #ADACAD;
	transform : rotate(45deg);
	left : -100%;
	top : 100%;
}
.btn:hover::before {
	animation : anime 0.5s;
	top : -10%;
	left : -10%;
}
@keyframes anime {
	0% {
		left: -100%;
		top : 100%;
	} 50% {
		left:10%;
		top: -30%;
	} 100% {
		top :-10%;
		left:-10%;
	}
}
@-webkit-keyframes anime {
	0% {
		left: -100%;
		top : 100%;
	} 50% {
		left:10%;
		top: -30%;
	} 100% {
		top :-10%;
		left:-10%;
	}
}
@media only screen and (min-width: 0px) and (max-width: 600px){
	.bg {
  top : 320px;
  background: #00fdff url(../assets/Images/bg1.jpg) ;
  width: 100%;
  height: 350px;
  position: relative;
  background-size: cover;
  background-position: 0 0;
  background-repeat: repeat-y;
  -webkit-animation: mymove 10s linear infinite;
  animation: animate 15s linear infinite;
}
.btnbg .firstline {
  position: absolute;
  display : table-cell;
  vertical-align:middle;
  width:100%;
  text-align : center;
  color: white; 
  font-size: 1.3em;
  font-weight: 900;  
  font-family : Arial ;
  padding-right : 10px;
  padding-left : 10px;
  background-color : black;
}
.btnbg .secondline { 
  position: absolute;
  top : 25px;
  display : table-cell;
  vertical-align:middle;
  width:100%;
  text-align : center;
  color: white; 
  font-size: 0.8em;
  font-weight: 900;  
  font-family : Arial;
  padding-right : 10px;
  padding-left : 10px;
  background-color : black;
  }
.btnbg .thirdline {
  position: absolute;
  top : 40px;
  display : table-cell;
  vertical-align:middle;
  width:100%;
  text-align : center;
  color: white; 
  font-size: 0.8em;
  font-weight: 900;  
  font-family : Arial;
  padding-right : 10px;
  padding-left : 10px;
  background-color : black;
}
	.horizontal {
	  position: absolute;
	  width : 100%;
	  text-align : center;
	  vertical-align:middle;
	  top : 50px;
          max-width:600px;
	  transform : translateY(-50%,-50%);
	}
	.btn {
	color : black ;
	display : block ;
	width : 20px;
	height : 20px;
	background : #D7CFCD;
	margin : 10px ;
	border-radius : 5%;
	overflow : hidden;
	position : relative;
	box-shadow : 0 3px 10px rgba(0,0,0,.3);
}
.btn i {
	line-height: 20px;
	font-size: 10px;
	transition : 0.5s linear;
}

}
